<p>{{errMessage}}</p>
<table>
    <tr>
        <td>Tensach:</td>
        <td>{{book.Name}}</td>
    </tr>
    <tr>
        <td>Giaban:</td>
        <td>{{book.Price}}</td>
    </tr>
    <tr>
        <td>Mota:</td>
        <td>{{book.Description}} </td>
    </tr>
    <tr>
        <td>Ngaycapnhat:</td>
        <td>{{book.UpdateAt}}</td>
    </tr>
    <tr>
        <td>Soluongton:</td>
        <td>{{book.StockQty}}</td>
    </tr>
    <tr>
        <td>MaCD:</td>
        <td>{{book.CDCode}} </td>
    </tr>
    <tr>
        <td>MaNXB:</td>
        <td>{{book.PublicerCode}} </td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="assets/book125_img/{{book.Avatar}}">
        </td>
    </tr>
</table>