<!--<h1>Excercise 100</h1>
<br>
<app-dong-abank></app-dong-abank>

<h1>Excercise 101</h1>
<br>
<app-fake-product></app-fake-product>

<h1>Excercise 102</h1>
<br>
<app-fake-product2></app-fake-product2>

<h1>Excercise 103</h1>
<br>
<app-bitcoin></app-bitcoin>-->

<!--<app-books></app-books>

<app-book-detail></app-book-detail>

<app-book-new></app-book-new>

<app-book-update></app-book-update>

<app-book-delete></app-book-delete>

<app-file-upload></app-file-upload>-->

<!--<router-outlet></router-outlet>-->


<app-books125></app-books125>
<!--<router-outlet></router-outlet>



<app-book125-detail></app-book125-detail>

<app-book125-update></app-book125-update>

<app-book125-new></app-book125-new>

<app-book125-delete></app-book125-delete>

<app-fashion-new></app-fashion-new>

<app-fashion-update></app-fashion-update>

<app-fashion-delete></app-fashion-delete>

<router-outlet></router-outlet>
<app-fashion></app-fashion>-->

<!--<app-fashion-detail></app-fashion-detail>-->

